@using EChartsProject.Common
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <script src="@JsFiles.ECharts"></script>
    <script src="@JsFiles.UserLineReport"></script>
}

<div id="main" style="width: 600px;height:400px;"></div>
