@using EChartsProject.Common
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section header{
    <script src="@JsFiles.ECharts"></script>
    <script src="@JsFiles.UserReport"></script>
}

<a id="btnRefresh" href="#" class="btn btn-primary" >刷新</a>
<div id="main" style="width: 600px;height:400px;"></div>

